/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  background: url('../assets/atlanta-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: black;
  font-size: 24px;
  font-family: 'Sansita One', cursive;
}

.new_centering {
  padding: 10% 0;
}

.newlocation {
  padding: 20% 0;
  width: 40%;
  height: 40%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .newlocation {
    padding: 20% 0;
    width: 80%;
    height: 60%;
    margin: 0 auto;
  }
}

.newlocation, #showlocations {
  background: rgba(0,0,0,0.5);
  border-radius: 4px;
  padding: 10px;
  color: white;
  box-shadow: 0px 8px 6px -6px rgba(0,0,0,0.6);
  -o-box-shadow: 0px 8px 6px -6px rgba(0,0,0,0.6);
  -ms-box-shadow: 0px 8px 6px -6px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 8px 6px -6px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 8px 6px -6px rgba(0,0,0,0.6);
}

.map-responsive {
  overflow:hidden;
  padding-bottom:100%;
  position:relative;
  height:0;
}

#map {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

#content {
  color: black;
}

#showlocations {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10px;
}

#closestlocations {
  height: 450px;
  width: 40%;
  overflow-y: auto;
  padding-top: 15px;
  padding-right: 10px;
  margin: 0 auto;
}

.btn-info {
  color: white;
  background-color: black;
  text-transform: uppercase;
  border-color: black;
}

#submit_button {
  text-align: center;
}

a {
  color: orange;
}