<div class="container" margin="20px">
  <h1>Find My Bus</h1>
  <p>Give us your address or corner, and we'll give you a bus that's nearby!</p>

  <%= render 'form' %>

  <%= link_to 'Back', locations_path %>
</div>