<div class="new_centering">
  <div class="newlocation">
    <h1>Atlanta Bus Finder</h1>
    <p>Give us your address or corner, and we'll give you a bus that's nearby!</p>
    <%= render 'form' %>
  </div>
  </div>
